<dialog>
  <form>
    <h3>Contact me 👋</h3>
    <div>
      <input required type='email' name='email' />
      <label id='email' for='i_email'>Email</label>
    </div>
    <div>
      <textarea required cols='30' rows='4' name='message'></textarea>
      <label id='message'>Message</label>
    </div>

    <button class='btn' disabled>Send</button>
  </form>
</dialog>

<script>
  import './Dialog'
</script>

<style lang='scss'>
  dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    border: none;
    padding: 0;
  }

  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  div {
    position: relative;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 3rem;
  }

  input,
  textarea {
    font: inherit;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
    padding-block: 1rem 0.5rem;
    padding-inline: 0.5rem;
    max-width: 100%;
  }

  input {
    width: 100%;

    &:-webkit-autofill + label {
      background: linear-gradient(to top, #e8f0fe 50%, white 50%);
    }
  }

  textarea {
    resize: none;
  }

  label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: gray;
    padding-inline: 0.3rem;
    background-color: white;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;

    &.selected {
      transform: translateY(-20px);
    }
  }
</style>
