<article>
  <button class='nav-item'>Works</button>
  <div class='wrapper'>
    <ul>
      <li><a href='https://github.com' target='_blank'>Work 1</a></li>
      <li><a href='https://github.com'>Work 2</a></li>
      <li><a href='https://github.com'>Work 3</a></li>
      <li><a href='https://github.com'>Work 4</a></li>
      <li><a href='https://github.com'>Work 5</a></li>
    </ul>
  </div>
</article>

<style lang='scss'>
  article {
    position: relative;

    &:hover,
    &:focus-within {
      .wrapper {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: initial;
      }

      button {
        color: var(--primary);
      }

      button::after {
        transform: rotate(-135deg);
      }
    }
  }

  button::after {
    content: '';
    display: inline-block;
    width: 0.3rem;
    aspect-ratio: 1;
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    margin-left: 0.4rem;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
  }

  .wrapper {
    position: absolute;
    padding-top: 1rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    transition: transform 0.2s, opacity 0.2s;
    z-index: 9;
  }

  ul {
    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    z-index: 99;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
    font: inherit;
    font-size: 0.9rem;
    list-style-type: none;
    width: 8rem;
    padding: 0;
    color: gray;
    overflow: hidden;
  }

  li {
    &:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }
  }

  a {
    padding: 0.7rem;
    display: block;

    transition: background-color 0.2s, color 0.2s;

    &:hover,
    &:focus-within {
      color: var(--primary);
      background-color: #fafafa;
    }
  }

  // a:focus {
  //   color: blue;
  // }
</style>
