---
import Button from './Button'
import MenuAlt from './MenuAlt.astro'
---

<header>
  <h1>Richard</h1>
  <nav>
    <a href='#home' class='nav-item'>Home</a>
    <div>
      <button class='nav-item' id='works'>Works</button>
      <MenuAlt />
    </div>
    <a class='nav-item' href='#about'>About</a>
    <a class='nav-item' href='#projects'>Projects</a>
    <a class='nav-item' href='#services'>Services</a>
  </nav>
  <Button client:visible>Let's chat</Button>
</header>

<script>
  import './HeaderAlt'
</script>

<style lang='scss'>
  header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
  }

  h1::after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    background-color: var(--primary);
    border-radius: 50%;
    margin-left: 0.2rem;
  }

  nav {
    display: none;

    @media (min-width: 896px) {
      display: flex;
    }
  }

  .nav-item {
    padding: 0.25rem 0.8rem;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--primary);
    }
  }

  button {
    &::after {
      content: '';
      display: inline-block;
      width: 0.3rem;
      aspect-ratio: 1;
      border-right: 2px solid var(--primary);
      border-bottom: 2px solid var(--primary);
      margin-left: 0.4rem;
      transform: rotate(45deg);
      transition: transform 0.2s ease-in-out;
    }

    &.selected {
      pointer-events: none;

      &::after {
        transform: rotate(-135deg);
      }
    }
  }

  header :global(button) {
    background-color: transparent;
  }

  div {
    position: relative;
  }
</style>
