---
import Button from './Button'
import Dropdown from './Dropdown.astro'
import MobileMenu from './MobileMenu.astro'
---

<header>
  <a href='/'><h1>Richard</h1></a>
  <nav>
    <a href='#home' class='nav-item'>Home</a>
    <Dropdown />
    <a class='nav-item' href='#about'>About</a>
    <a class='nav-item' href='#projects'>Projects</a>
    <a class='nav-item' href='#services'>Services</a>
  </nav>
  <Button client:visible>Let's chat</Button>
  <MobileMenu />
</header>

<style lang='scss'>
  @import '../scss/mixins';
  // @use '../scss/mixins' as *;

  header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
  }

  h1::after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 50%;
    margin-left: 0.2rem;
  }

  nav {
    @include showOnDesktop(flex, 668px);
  }

  nav :global(.nav-item) {
    padding: 0.25rem 0.8rem;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--primary);
    }
  }

  header :global(.btn) {
    @include showOnDesktop;

    border: 1px solid black;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: black;
      color: white;
    }
  }
</style>
