---
import Button from './Button'
---

<header>
  <h1>Richard</h1>
  <nav>
    <a href='#home'>Home</a>
    <a href='#works'>Works</a>
    <a href='#about'>About</a>
    <a href='#projects'>Projects</a>
    <a href='#services'>Services</a>
  </nav>
  <Button client:visible>Let's chat</Button>
</header>

<style lang='scss'>
  header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
  }

  h1::after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 50%;
    margin-left: 0.2rem;
  }

  nav {
    display: none;

    @media (min-width: 896px) {
      display: flex;
      column-gap: 1.5rem;
    }
  }

  a:nth-child(2)::after {
    content: '';
    display: inline-block;
    width: 0.3rem;
    aspect-ratio: 1;
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    margin-left: 0.4rem;
    transform: rotate(45deg);
  }

  header :global(button) {
    background-color: transparent;
  }
</style>
