---
import Isotype from './Isotype.astro'
---

<section>
  <div>
    <p>
      Create Your site in <strong>Figma</strong>
      <br />
      <strong>Sketch</strong> or <strong>XD</strong>
    </p>
    <img src='img/PersonalPhoto.webp' alt='Person' width='443' height='553' loading='lazy' />

    <Isotype name='figma' />
    <Isotype name='sketch' />
    <Isotype name='adobe_xd' />
  </div>
</section>

<style lang='scss'>
  section {
    --color: #ded1c0;
    background-color: var(--color);
    padding-top: 5rem;
    font-size: 1.5rem;
    box-shadow: 0 0 0 100vmax var(--color);
    clip-path: inset(0 -100vmax 0 0);

    @media (min-width: 1024px) {
      grid-area: picture;
    }
  }

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 8rem;
    margin-inline: auto;
    width: fit-content;
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
