<section>
  <div>
    <h3>Project <br /> Statistics 2022</h3>
    <button class='btn'>Know More</button>
  </div>

  <div class='items'>
    <div>
      <span>Website Design</span>
      <span>75</span>
    </div>
    <div>
      <span>Mobile App Design</span>
      <span>64</span>
    </div>
    <div>
      <span>Brand Identity</span>
      <span>37</span>
    </div>
  </div>
</section>

<style lang='scss'>
  @use '../scss/mixins' as *;

  section {
    background-color: #262626;
    color: white;
    padding-block: 2rem;
    display: flex;
    column-gap: 1.5rem;

    & > * {
      flex-grow: 1;
    }

    @media (min-width: 1024px) {
      grid-area: stats;
    }
  }

  .btn {
    // --accent: #ffd100;
    // background-color: var(--accent);
    // border-color: var(--accent);
    // color: black;
    // transition: background-color 0.2s ease-in-out;

    // &:hover {
    //   background-color: transparent;
    //   color: var(--accent);
    // }

    @include btnHover(#ffd100);
  }

  h3 {
    margin-bottom: 1rem;
  }

  .items {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > * {
      border-bottom: 1px solid rgb(66, 66, 66);
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      column-gap: 0.5rem;
    }
  }
</style>
