@mixin showOnMobile($displayValue: block, $mediaSize: 896px) {
  display: $displayValue;

  @media (min-width: $mediaSize) {
    display: none;
  }
}

@mixin showOnDesktop($displayValue: block, $mediaSize: 896px) {
  display: none;

  @media (min-width: $mediaSize) {
    display: $displayValue;
  }
}

@mixin btnHover($accent, $textColor: black) {
  background-color: $accent;
  border-color: $accent;
  color: $textColor;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $accent;
  }
}
