@mixin showOnMobile($displayValue: block, $mediaSize: 896px) {
  display: $displayValue;

  @media (min-width: $mediaSize) {
    display: none;
  }
}

@mixin showOnDesktop($displayValue: block, $mediaSize: 896px) {
  display: none;

  @media (min-width: $mediaSize) {
    display: $displayValue;
  }
}

@mixin btnHover($accent, $textColor: black) {
  background-color: $accent;
  border-color: $accent;
  color: $textColor;
  transition: background-color 0.2s ease-in-out, transform 0.2s linear;

  &:hover {
    background-color: transparent;
    color: $accent;
  }

  &:active {
    transform: scale(0.9);
  }
}

@mixin visibility($visibility) {
  visibility: $visibility;

  @if ($visibility == visible) {
    opacity: 1;
  } @else {
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}
